body 
{
    background-color: #272822;
    color: white;
    margin: 0;
}

#main 
{
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 5% 20% 20% 45%;
    grid-template-areas: 
        "header header"
        "code tools"
        "code input"
        "code output"
        "memory memory";
    overflow: hidden;
}

.grid-elem 
{
    border: 1px solid #F1EBE5;
    padding: 5px;
}

#header 
{ 
    grid-area: header; 
}

#tools
{
    grid-area: tools;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tool
{
    max-height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin: 2px;
    border: none;
    border-radius: 2px;
    background: #00cc00;
    cursor: pointer;
}

.tool:hover { background: #00ee00; }
.tool:active { transform: scale(0.95); }
.tool:disabled { background: #454545; }
.tool:active:disabled { transform: scale(1); }

#codewrapper 
{ 
    grid-area: code; 
}

#input /* input wrapper */
{ 
    grid-area: input;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#input input
{
    width: 100%;
    background: #272822;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
}

#output
{
    grid-area: output;
}

#memory 
{ 
    grid-area: memory;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(55px, 55px));
    overflow-y: scroll;
}

.memBlock
{
    position: relative;
    background: #474842;
    padding: .5rem;
    width: 50px;
    height: 50px;
    overflow: hidden;
    overflow-x: auto;
}

.indexDisplay
{
    font-size: 1rem;
    position: absolute;
    left: 2px;
    top: 2px;
    color: #CCCCCC;
}

.valueDisplay
{
    font-size: 2rem;
    position: absolute;
    bottom: 5px;
    left: auto;
    right: auto;
    width: calc(100% - 15px);
    text-align: center;
}
